html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  background: #008080;
}

#app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
